{
    "plugins": ["node"],
    "extends": ["hapi"],
    "rules": {
        "indent": ["error", 2, { "MemberExpression": "off" }],
        "no-shadow": ["error", { "allow": ["server", "next", "err"] }]
    }
}
